.aboutus_section {
  width: 100vw;
  height: 100vh;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.aboutus-text {
  grid-column-start: 2;
  width: 85%;
  height: 100%;
  display: flex;
  color: black;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.aboutus-grid {
  grid-column-start: 3;
  width: 100%;
  display: grid;
  background-image: url(../res/Softbox.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:  58%;
  grid-template-columns: 32% 32% 32%;
  gap: 2%;
  height: 100%;
  overflow: hidden;
}

.marquee
{
  grid-column-start: 1;
}