.header {
    width: 100vw;
    display: grid;
    position: fixed;
    z-index: 100;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
    height: auto; 
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;
}


.logo
{
    width: auto;
    max-height: 4rem;
    margin-left: 2.4rem;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition for the transform property */
}

.logo:hover {
    transform: scale(1.2); /* Scale the logo to 1.2 times its size on hover */
}